* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.35s;
}

body, html {
    height: 100%;
    max-height: 100%;
}

body {
    /* Reset */
    margin: 0;
    padding: 0;

    /* Annen styling */
    text-align: center;
    background-color: rgb(44, 44, 44);
}

#levelVisning {
    color: white;
    height: 100%; 
}

#levelVisning > div {
    padding: 10px; 
    background-color: rgb(31, 31, 31);
}

#levelVisning > div > div {
    background-color: rgb(44, 44, 44);
}

#bildet {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    height: 50%;
}

#boble {
    font-size: 24px;
    color: black;
    background-color: white !important;
}

#tittel {
    font-weight: bold;
}

.gray {
    color: gray;
}

#muligheter {
    background-color: rgb(26, 26, 26) !important;
}

#muligheter > div {
    cursor: pointer;
    margin: 16px;
    padding: 24px;
}

#muligheter > div:hover {
    background-color: rgb(19, 175, 53);
}